@model ICollection<Blog.Models.PostItemViewModel>
<div id="templatemo_right_column">

    <div id="templatemo_main">
        @foreach (var item in Model)
        {
            <div class="post_section">

                <span class="comment"><a href="blog_post.html">@item.CommentsCount</a></span>

                <h2><a href="blog_post.html">@item.Title</a></h2>


                @item.DateCreated | <strong>Author:</strong> John | <strong>Category:</strong> <a href="#">Freebies</a>

                <img src="~/Content/images/gallery/image_01.jpg" alt="image 1" />

                <p>@item.Summary</p>
                <a href="blog_post.html">Continue reading...</a>

            </div>
        }

    </div>
    <div class="cleaner"></div>
</div>
